@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Dear</h1>
    <p>What is your idea for lifestyle development? <a href="#">Join Us</a>.</p>
</div>
