@model DisplayTodoItemViewModel

    <form asp-action="Add" asp-controller="TodoItem" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="ListId" class="control-label">Todo Lists</label>
                    <select class="form-control" asp-for="ListId"
                            asp-items='new SelectList(Model.TodoLists, "Id", "Title")'>
                        <option value="">Todo Lists</option>
                    </select>
                    <span asp-validation-for="ListId" class="error"></span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control" maxlength="50">
            <span asp-validation-for=Title></span>
        </div>
        <div class="mb-3">
            <label asp-for="Note" class="form-label">Note</label>
            <input type="text" asp-for="Note" class="form-control" maxlength="500">
            <span asp-validation-for=Note></span>

        </div>
        @*        <div class="mb-3">
    <label asp-for="Email" class="form-label">Email</label>
    <input type="text" asp-for="Email" class="form-control" maxlength="256">
    <span asp-validation-for=Email></span>
    </div>
    <div class="mb-3">
    <label asp-for="Address" class="form-label">Address</label>
    <input type="text" asp-for="Address" class="form-control" maxlength="500">
    <span asp-validation-for=Address></span>
    </div>
    <div class="mb-3">
    <label asp-for="Image" class="form-label">Image</label>
    <input type="file" asp-for="Image" class="form-control">
    <span asp-validation-for=Email></span>

    </div>*@

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


}