@model DisplayTodoListViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@section head{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
}
    <form asp-action="Add" asp-controller="TodoList" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control" maxlength="50">
            <span asp-validation-for=Title></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input type="text" asp-for="Description" class="form-control" maxlength="500">
            <span asp-validation-for=Description></span>

        </div>
@*        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input type="text" asp-for="Email" class="form-control" maxlength="256">
            <span asp-validation-for=Email></span>
        </div>
        <div class="mb-3">
            <label asp-for="Address" class="form-label">Address</label>
            <input type="text" asp-for="Address" class="form-control" maxlength="500">
            <span asp-validation-for=Address></span>
        </div>
        <div class="mb-3">
            <label asp-for="Image" class="form-label">Image</label>
            <input type="file" asp-for="Image" class="form-control">
            <span asp-validation-for=Email></span>

        </div>*@

@*        <div class="mb-3">
            <select class="form-control select2" name="SelectedTags" multiple>
            @foreach (var item in Model.TagsForDisplay)
            {
                <option value="@item.Id">@item.Title</option>
            }
            </select>
        </div>*@
    <button type="submit" class="btn btn-primary">Submit</button>
    @*<input type="submit" class="btn btn-primary" value="Save" />*@
</form>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.select2').select2();
        });
    </script>
}