@using MLS.WebUI.Models.TodoListModel
@model CreateTodoListDto

    <form asp-action="Create" asp-controller="TodoList" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input type="text" asp-for="Title" class="form-control" maxlength="50">
            <span asp-validation-for=Title></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <input type="text" asp-for="Description" class="form-control" maxlength="500">
            <span asp-validation-for=Description></span>
        </div>

        <div class="mb-3">
            <label asp-for="ListImage" class="form-label">Image</label>
            <input type="file" asp-for="ListImage" class="form-control">
            <span asp-validation-for=ListImage></span>
        </div>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

