@using MLS.WebUI.Models.TodoListModel;

@model UpdateTodoListViewModel

<form asp-controller="TodoList" asp-action="Update"
      method="post"
      enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input type="text" asp-for="Title" class="form-control" maxlength="50">
                <span asp-validation-for="Title" class="alert-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label">Description</label>
                <input type="text" asp-for="Description" class="form-control" maxlength="500">
                <span asp-validation-for="Description" class="alert-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="ListImage" class="form-label">Image</label>
                <input type="file" asp-for="ListImage" class="form-control">
                <span asp-validation-for=ListImage></span>
            </div>
        </div>
    </div>
    <br />
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>


