@model MLS.Domain.Entities.TodoList

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<form asp-controller="TodoList" asp-action="Update"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input type="text" asp-for="Title" class="form-control" maxlength="50">
                    <span asp-validation-for=Title></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input type="text" asp-for="Description" class="form-control" maxlength="500">
                    <span asp-validation-for=Description></span>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-primary">ویرایش</button>
    </div>
</form>


